body {
  font-family: Arial;
  background: #f4f4f4;
}

.login-box {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}
