body {
  font-family: Arial;
  padding: 30px;
}

.box {
  width: 300px;
  margin: auto;
}

input, button, select {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
}
