body {
  font-family: Arial;
  background: linear-gradient(135deg,#4facfe,#00f2fe);
}

.card {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
}
