body {
  font-family: Arial;
  background: #f4f6fa;
}

.box {
  width: 420px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
}

.hidden {
  display: none;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #0b3c5d;
  color: white;
  border: none;
  cursor: pointer;
}

.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  margin-top: 10px;
  padding: 10px;
}
