body {
  font-family: Arial;
  background: #f4f6fa;
}

.login-box {
  width: 360px;
  margin: 100px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #0b3c5d;
  color: white;
  border: none;
}

.note {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}
